# Public node provider RPC URL for Sepolia network
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your-api-key

# Private key of the deployer wallet (Never commit this file or expose real-funds wallet key)
DEPLOYER_PRIVATE_KEY=
